

/*-------VARIABLES--------*/
:root {
    --color-1: #11468F;
    --color-2: #FF7171;
    --color-3: #0ca132;
    --color-4: #316B83;
    --color-5: #8CA1A5;
}

body{
    min-height: 100vh; 
    /*background: linear-gradient(220.55deg, #5D85A6 0%, #0E2C5E 100%);
    background: linear-gradient(to bottom, #24CFC5 0%, #001C63 100%);
    background: linear-gradient(220.55deg, #C5EDF5 0%, #4A879A 100%);*/
    background: linear-gradient(to bottom, #CDF2CA 0%, #f0e6c5 100%);

     
}

.container{
    margin: 100px auto;
    max-width: 90%;
}

.column{
    width: 100%;
    font-family: 'Indie Flower', cursive;
    /*background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    background: linear-gradient(to top, #5EE2FF 0%, #00576A 100%);*/
    background: #B5DEFF;
    padding: 10px 20px;   
}

th{
    font-family: 'Poppins', sans-serif;
   
}


td{
    font-family: 'Quicksand', sans-serif;
   
}


p{
    font-family: 'Quicksand', sans-serif;
}

#btn-nueva-vta:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.pencil{
    margin-left: 10px;
    color: var(--color-3);
}

.trash{
    color: var(--color-2);
    margin-left: 20px;
}
